#https://www.mkdocs.org/user-guide/configuration/#
site_name: HEAL Data Packaging 
site_url: https://norc-heal.github.io/heal-data-pkg-guide
repo_url: https://github.com/norc-heal/heal-data-pkg-guide
nav:
  - "": index.md
  - Introduction: 
    - intro/index.md
    - Who: intro/who.md
    - What: intro/what.md
    - Why: intro/why.md
    - Where: intro/where.md
    - When: intro/when.md
    - How: intro/how.md
    #- The Resource Tracker: intro/resource.md

  - Your best fit:
    - fit/index.md
    - Best fit questions: fit/best-fit-questions.md
    - Best fit annotation recs: fit/best-fit-annotation-recs.md
    #- Your data sharing orientation: fit/data-sharing-orientation.md
    #- Your study stage: fit/study-stage.md
    #- Early in study: fit/guidance-1.md
    #- Late in study: fit/late.md
  
  #- Annotation: 
  #  - Annotation Approaches: annot/index.md
  #  - Wholistic vs. Minimal: annot/introholmin.md
  #  - As you go vs. Top-down: annot/introaddtop.md

  - Guidance & Resources:
    - g-and-r/index.md
    - Guidance:
      - guidance/index.md
      - File org and naming: 
        - file-o-and-n/index.md
        - File organization: guidance/file-org.md
        - File naming: guidance/file-name.md
    - Resources:
      - resources/index.md
      - Metadata schemas:
        - schemas/index.md
        - Experiment Tracker: schemas/md_experiment_tracker.md
        - Resource Tracker: schemas/md_resource_tracker.md
        - Results Tracker: schemas/md_results_tracker.md
        - Data Dictionary: schemas/jsonschema-csvtemplate-fields_v3_manual_edits.md

      
  
  - Terms & Concepts: 
    - terms/index.md
    #- File Types: terms/files.md
    #- Holistic vs. Minimal Annotation: terms/holmin.md
    #- Add-as-you-go vs. Top-down Annotation: terms/addtop.md
    #- File org and naming: 
    #  - File organization: terms/name.md
    #  - File naming: terms/name.md
    #- Data sharing orientations: terms/sharing.md
    #- Metadata schemas:
    #  - Experiment Tracker: schemas/md_experiment_tracker.md
    #  - Resource Tracker: schemas/md_resource_tracker.md
    #  - Results Tracker: schemas/md_results_tracker.md
  #  - Metadata templates:
  #    - Overview: terms/standard-data-pkg-metadata.md
      

    #- Study-level Metadata:
    #  - Resource Tracker: terms/studylevel/resource.md
    #  - Experiment Tracker: terms/studylevel/exp.md
    #- File-level Metadata: terms/filelevel.md
    #- Documenting dependencies: terms/depend.md


theme:
  name: material
  palette:
    scheme: heal_platform
  font:
    text: Montserrat
  logo: assets/HEAL_Initiative_White-cropped.svg
  features:
    - navigation.indexes
    # Disable for now, as it causes problems with links to sections in Safari
    # https://github.com/squidfunk/mkdocs-material/issues/3797
    # - navigation.instant
    - navigation.indexes
    #- navigation.tabs
    #- navigation.tabs.sticky
    - navigation.tracking
    #- navigation.sections
    #- toc.integrate
  favicon: assets/heal_logo.png
extra_css:
  - stylesheets/extra.css
extra:
  homepage: https://github.com/norc-heal
use_directory_urls: true
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: True
      baselevel: 1
  - pymdownx.superfences
  - pymdownx.extra
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
plugins:
  - search
  - mkdocs-video:
      is_video: True

# TODO: add footer (this may be included in the custom jinja template?)
#    [![](img/gen3.png)](https://ctds.uchicago.edu/gen3)[![](img/createdby.png)](https://ctds.uchicago.edu/)
#   [![image alt text](image URL link)](anchor link)

# function readMore() { var dots = document.getElementById("dots"); var moreText = document.getElementById("more"); var btnText = document.getElementById("read-more-btn"); var btnText = document.getElementById("read-more-explorer"); if (dots.style.display === "none") { dots.style.display = "inline"; btnText.innerHTML = "Read more"; moreText.style.display = "none"; } else { dots.style.display = "none"; btnText.innerHTML = "Read less"; moreText.style.display = "inline"; } }
