[data-md-color-scheme="heal_platform"] {
  --md-primary-fg-color:        #402264;
  --md-accent-fg-color:         #982568;
}

.md-typeset a {
  color:    #0044b3;
}
.md-typeset a:hover:not(.md-button), a:focus:not(.md-button) {
  text-decoration:              underline;
  text-decoration-thickness:    .125em;
  text-underline-offset:        1.5px;
  text-decoration-style:        dotted;
}
